---
import Layout from "../layouts/Layout.astro";
import Pau from "../assets/Images/paucv1.jpg";
import { Image } from "astro:assets";
---

<Layout>
    <div class="aboutPage">
        <div class="aboutTitle">
            <h1>PAU SOLÉ TORRALBA</h1>
            <Image src={Pau} alt="pau" class="pauImage" loading={"eager"} />
        </div>
        <h2>
            VIDEOGAME DEVELOPMENT TECHNICIAN, APPLIED GAMES AND MOBILE
            APPLICATIONS
        </h2>
        <h4>
            Versatile video game programmer, with the ability to adapt to
            technological changes and eager to continue learning. I have the
            ability to focus completely on what concerns my work and I am used
            to working in teams. I consider myself an effective person who is
            committed to his work.
        </h4>

    </div>
</Layout>
