---
import Layout from "../layouts/Layout.astro";
import Pau from "../assets/Images/paucv1.jpg";
import { Image } from "astro:assets";
---

<Layout>
    <div class="aboutPage">
        <div class="aboutTitle">
            <h1>PAU SOLÉ TORRALBA</h1>
            <Image src={Pau} alt="pau" class="pauImage" loading={"eager"} />
        </div>
        <h2>
            VIDEOGAME DEVELOPMENT TECHNICIAN, APPLIED GAMES AND MOBILE
            APPLICATIONS
        </h2>
        <h4>
            Versatile video game programmer, with the ability to adapt to
            technological changes and eager to continue learning. I have the
            ability to focus completely on what concerns my work and I am used
            to working in teams. I consider myself an effective person who is
            committed to his work.
        </h4>

        <div class="formation">
            <h3>FORMATION</h3>

            <h4>
                CERTIFICATE OF HIGHER EDUCATION IN CROSS-PLATFORM APPLICATION
                DEVELOPMENT
            </h4>
            <p>La Salle Gràcia | Sep 2024 - May 2026</p>

            <h4>VIDEOGAME SPECIALIZATION COURSE</h4>
            <p>Institut Pedralbes | Sep 2024 - May 2025</p>

            <h4>
                CERTIFICATE OF HIGHER EDUCATION IN CROSS-PLATFORM APPLICATION
                DEVELOPMENT FOR VIDEO GAMES
            </h4>
            <p>ENTI-UB | Sep 2018 - Jun 2020</p>

            <h4>TECHNOLOGYC HIGH-SCHOOL</h4>
            <p>INS Vila de Gràcia | Sep 2016 - Jun 2018</p>
        </div>
    </div>
</Layout>
