---
import Game from "../components/Game.astro";
import Layout from "../layouts/Layout.astro";
import SlimeDefenseImage from "../../src/assets/Images/SlimeDefense.webp";
import StarTapsImage from "../../src/assets/Images/StarTaps.webp";
import BekkusImage from "../../src/assets/Images/bekkus.webp";
import BiluxImage from "../../src/assets/Images/bilux.webp";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout>
    <h1>{t("games")}</h1>
    <div class="gamesList">
        <Game
            title="BEKKUS"
            srcImage={BekkusImage}
            description={t("bekkusGame")}
            urlSite="https://ottarastudio.itch.io/bekkus"
            titleText="Go to Bekkus!"
        />
        <Game
            title="BILUX"
            srcImage={BiluxImage}
            description={t("biluxGame")}
            urlSite="https://drhut94.itch.io/bilux"
            titleText="Go to Bilux!"
        />
        <Game
            title="SLIME DEFENSE"
            srcImage={SlimeDefenseImage}
            description={t("slimeGame")}
            urlSite="https://pausol.itch.io/slime-defense"
            titleText="Go to Slime Defense!"
        />
        <Game
            title="STAR TAPS"
            srcImage={StarTapsImage}
            description={t("starGame")}
            urlSite="https://pausol.itch.io/star-taps"
            titleText="Go to Star Taps!"
        />
    </div>
</Layout>

<style>
    h1 {
        text-align: center;
        color: #66fcf1;
    }
    .gamesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 760px) {
        .gamesList {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>
