---
import Game from "../components/Game.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <div class="gamesList">

        <Game
            title="1. BEKKUS"
            srcImage="https://img.itch.zone/aW1hZ2UvNjI3NjA4LzM0MDA0NzkucG5n/347x500/ZCjbFA.png"
            description='Bekkus was developed by a team of 2 artists and 2 developers using the scrum methodology. I developed the logic of "bekkus", quest system, settings, UI, help the artists implement some parts of the map, and implement the music.'
            urlSite="https://ottarastudio.itch.io/bekkus"
        />
    </div>
</Layout>
