---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="introduction">
        <h1>DEVELOPER</h1>
        <h3>
            Versatile video game programmer, with the ability to adapt to
            technological changes and eager to continue learning. I have the
            ability to focus completely on what concerns my work and I am used
            to working in teams. I consider myself an effective person who is
            committed to his work.
        </h3>
    </div>
    <div class="projectList">
        <h2>PROJECTS</h2>
        
    </div>
</Layout>
