---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import SlimeDefenseImage from "../../src/assets/Images/SlimeDefense.png"


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="introduction">
        <h1>DEVELOPER</h1>
        <h3>
            Versatile video game programmer, with the ability to adapt to
            technological changes and eager to continue learning. I have the
            ability to focus completely on what concerns my work and I am used
            to working in teams. I consider myself an effective person who is
            committed to his work.
        </h3>
    </div>
    <div class="projectList">
        <h2>PROJECTS</h2>
        <Project
            title="1. BEKKUS"
            genre="3D ADVENTURE GAME"
            srcImage="https://img.itch.zone/aW1hZ2UvNjI3NjA4LzM0MDA0NzkucG5n/347x500/ZCjbFA.png"
            loadImageType="eager"
            description="A young scientist was travelling around the world when suddenly a meteor crashed, releasing all kind of creatures with its impact. Now, determined as ever, the young scientist has decided to investigate them and gather as much information as she can by photographing them."
        />
        <Project
            title="2. BILUX"
            genre="2D PLATFORM GAME"
            srcImage="https://img.itch.zone/aW1hZ2UvNDIxNDk3LzIxMDYxMzYucG5n/347x500/r%2FeS0B.png"
            loadImageType="lazy"
            description="Bilux is a game in which you will have to use movement mechanics to overcome the different levels. At first it may seem easy but you will quickly find levels where you will have to use your ingenuity and speed of response to overcome them."
        />
        <Project
          title="3. SLIME DEFENSE"
          genre="2D TOWER DEFENSE"
          srcImage={SlimeDefenseImage}
          loadImageType="lazy"
          description="Slime Defense is a casual tower defense for mobile that consists of surviving waves of slimes while defending the king slime. Will you be able to survive to the highest wave?"
        />
    </div>
</Layout>

<style>
    
</style>