---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import SlimeDefenseImage from "../../src/assets/Images/SlimeDefense.webp";
import BekkusImage from "../../src/assets/Images/bekkus.webp";
import BiluxImage from "../../src/assets/Images/bilux.webp";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="index">
        <div class="introduction">
            <h1>PAU SOLÉ</h1>
            <h2>GAME AND WEB DEVELOPER</h2>
            <h3>
                I'm a versatile developer, with the ability to adapt to
                technological changes and eager to continue learning. I have the
                ability to focus completely on what concerns my work and I am
                used to working in teams. I consider myself an effective person
                who is committed to his work.
            </h3>
        </div>
        <div class="projectList">
            <h2>PROJECTS</h2>
            <Project
                title="1. BEKKUS"
                genre="3D ADVENTURE GAME"
                srcImage={BekkusImage}
                loadImageType="eager"
                description="A young scientist was travelling around the world when suddenly a meteor crashed, releasing all kind of creatures with its impact. Now, determined as ever, the young scientist has decided to investigate them and gather as much information as she can by photographing them."
                urlSite="https://ottarastudio.itch.io/bekkus"
                titleText="Go to Bekkus!"
            />
            <Project
                title="2. BILUX"
                genre="2D PLATFORM GAME"
                srcImage={BiluxImage}
                loadImageType="lazy"
                description="Bilux is a game in which you will have to use movement mechanics to overcome the different levels. At first it may seem easy but you will quickly find levels where you will have to use your ingenuity and speed of response to overcome them."
                urlSite="https://drhut94.itch.io/bilux"
                titleText="Go to Bilux!"
            />
            <Project
                title="3. SLIME DEFENSE"
                genre="2D TOWER DEFENSE"
                srcImage={SlimeDefenseImage}
                loadImageType="lazy"
                description="Slime Defense is a casual tower defense for mobile that consists of surviving waves of slimes while defending the king slime. Will you be able to survive to the highest wave?"
                urlSite="https://pausol.itch.io/slime-defense"
                titleText="Go to Slime Defense!"
            />
        </div>
    </div>
</Layout>

<style>
    .index {
        max-width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1,
    h2 {
        color: #66fcf1;
    }

    h3 {
        color: #45a29e;
    }
</style>
