---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div class="introduction">
        <h1>DEVELOPER</h1>
        <h3>
            Versatile video game programmer, with the ability to adapt to
            technological changes and eager to continue learning. I have the
            ability to focus completely on what concerns my work and I am used
            to working in teams. I consider myself an effective person who is
            committed to his work.
        </h3>
    </div>
    <div class="projectList">
        <h2>PROJECTS</h2>
        <Project
            title="1. BEKKUS"
            genre="3D ADVENTURE GAME"
            urlImage="https://img.itch.zone/aW1hZ2UvNjI3NjA4LzM0MDA0NzkucG5n/347x500/ZCjbFA.png"
            description="A young scientist was travelling around the world when suddenly a meteor crashed, 
            releasing all kind of creatures with its impact. Now, determined as ever, the young scientist has decided 
            to investigate them and gather as much information as she can by photographing them."
        />
    </div>
</Layout>
