---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import SlimeDefenseImage from "../../src/assets/Images/SlimeDefense.webp";
import BekkusImage from "../../src/assets/Images/bekkus.webp";
import BiluxImage from "../../src/assets/Images/bilux.webp";
import { t, changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout>
    <div class="index">
        <section class="introduction">
            <h1>PAU SOLÉ</h1>
            <h2>{t("ocupation")}</h2>
            <h3>
                {t("homeDescription")}
            </h3>
        </section>
        <section class="projectList">
            <h2>{t("projectsTitle")}</h2>
            <Project
                title="1. BEKKUS"
                genre={t("bekkusGenre")}
                srcImage={BekkusImage}
                loadImageType="eager"
                description={t("bekkusDescription")}
                urlSite="https://ottarastudio.itch.io/bekkus"
                titleText="Go to Bekkus!"
            />
            <Project
                title="2. BILUX"
                genre={t("biluxGenre")}
                srcImage={BiluxImage}
                loadImageType="lazy"
                description={t("biluxDescription")}
                urlSite="https://drhut94.itch.io/bilux"
                titleText="Go to Bilux!"
            />
            <Project
                title="3. SLIME DEFENSE"
                genre={t("slimeGenre")}
                srcImage={SlimeDefenseImage}
                loadImageType="lazy"
                description={t("slimeDescription")}
                urlSite="https://pausol.itch.io/slime-defense"
                titleText="Go to Slime Defense!"
            />
        </section>
    </div>
</Layout>

<style>
    .index {
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1,
    h2 {
        color: #66fcf1;
    }

    h3 {
        color: #45a29e;
    }

    @media only screen and (max-width: 1200px) {
        .index {
            margin-left: 10%;
            margin-right: 10%;
        }
    }

    @media only screen and (max-width: 760px) {
        .index {
            margin-left: 5%;
            margin-right: 5%;
        }
    }
</style>
