---
import ContactMe from "../../components/ContactMe.astro";
import Layout from "../../layouts/Layout.astro";
import Pau from "../../assets/Images/paucv1.webp";
import { Image } from "astro:assets";
import { t, changeLanguage } from "i18next";

changeLanguage("ca");
---

<Layout>
    <div class="aboutPage">
        <div class="aboutTitle">
            <h1>PAU SOLÉ TORRALBA</h1>
            <Image src={Pau} alt="pau" class="pauImage" loading={"eager"} />
        </div>
        <h2>
            {t("grade")}
        </h2>
        <h4>
            {t("description")}
        </h4>

        <div class="formation">
            <h3>{t("formation")}</h3>

            <h4>{t("form3")}</h4>
            <p>{t("form3Date")}</p>

            <h4>{t("form4")}</h4>
            <p>{t("form4Date")}</p>

            <h4>{t("form1")}</h4>
            <p>{t("form1Date")}</p>

            <h4>{t("form2")}</h4>
            <p>{t("form2Date")}</p>
        </div>
        <div class="knowledge">
            <div>
                <h3>{t("knowledge")}</h3>
                <div class="knowledgeList">
                    <ul>
                        <li>Unity</li>
                        <li>Unreal Engine</li>
                        <li>C</li>
                        <li>C++</li>
                    </ul>
                    <ul>
                        <li>C#</li>
                        <li>ReactJS</li>
                        <li>HTML/CSS/JS</li>
                        <li>Java</li>
                    </ul>
                </div>
            </div>
            <div class="languageList">
                <h3>{t("languages")}</h3>
                <ul>
                    <li>Catalan</li>
                    <li>Spanish</li>
                    <li>English</li>
                </ul>
            </div>
        </div>
        <div class="workExperience">
            <h3>{t("work")}</h3>
            <h4>FULL STACK DEVELOPER</h4>
            <h5>{t("work1Date")}</h5>
            <p>
                {t("work1Description")}
            </p>
            <h4>{t("work2")}</h4>
            <h5>{t("work2Date")}</h5>
            <p>
                {t("work2Description1")}
            </p>
            <p>
                {t("work2Description2")}
            </p>
        </div>
        <ContactMe />
    </div>
</Layout>

<style>
    .aboutPage {
        max-width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #c5c6c7;
    }

    h1 {
        text-align: center;
        font-size: clamp(1.25em, 7vw, 6rem);
        color: #66fcf1;
    }

    h2 {
        color: #66fcf1;
        font-size: clamp(1em, 3vw, 6rem);
        text-align: center;
    }

    .aboutTitle {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 100px;
    }

    .pauImage {
        width: clamp(20%, 25%, 30%);
        height: clamp(20%, 25%, 30%);
        margin-block-start: 0.67em;
        border-radius: 5%;
    }

    .formation {
        border-top: 6px solid #45a29e;
        width: 100%;
    }

    .knowledge {
        border-top: 6px solid #45a29e;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .knowledge h3 {
        white-space: nowrap;
        margin-bottom: 0;
    }
    .knowledgeList {
        display: flex;
        flex-direction: row;
    }
    .knowledgeList > li {
        white-space: nowrap;
    }
    .languageList {
        margin-right: 20vw;
    }

    .workExperience {
        border-top: 6px solid #45a29e;
        border-bottom: 6px solid #45a29e;
        width: 100%;
    }

    @media only screen and (max-width: 640px) {
        .knowledge {
            border-top: 6px solid #45a29e;
            display: flex;
            flex-direction: column;
        }

        .aboutTitle {
            gap: 0;
        }
    }
</style>
