---
import Game from "../../components/Game.astro";
import Layout from "../../layouts/Layout.astro";
import SlimeDefenseImage from "../../../src/assets/Images/SlimeDefense.webp";
import StarTapsImage from "../../../src/assets/Images/StarTaps.webp";
import BekkusImage from "../../../src/assets/Images/bekkus.webp";
import BiluxImage from "../../../src/assets/Images/bilux.webp";
import { t, changeLanguage } from "i18next";

changeLanguage("ca");
---

<Layout>
    <div class="gamesList">
        <Game
            title="1. BEKKUS"
            srcImage={BekkusImage}
            description={t("bekkusGame")}
            urlSite="https://ottarastudio.itch.io/bekkus"
        />
        <Game
            title="2. BILUX"
            srcImage={BiluxImage}
            description={t("biluxGame")}
            urlSite="https://drhut94.itch.io/bilux"
        />
        <Game
            title="3. SLIME DEFENSE"
            srcImage={SlimeDefenseImage}
            description={t("slimeGame")}
            urlSite="https://pausol.itch.io/slime-defense"
        />
        <Game
            title="4. STAR TAPS"
            srcImage={StarTapsImage}
            description={t("starGame")}
            urlSite="https://pausol.itch.io/star-taps"
        />
    </div>
</Layout>

<style>
    .gamesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
</style>
