<div class="contactComponent">
    <h2>CONTACT ME</h2>
    <p>
        You can contact me via
        <a
            target="_blank"
            href="https://www.linkedin.com/in/pau-sol%C3%A9-torralba-bb8b14176/"
        >
            LINKEDIN
        </a>
    </p>
</div>

<style>
</style>
