---
import NavComponent from "./NavComponent.astro";

import { t, } from "i18next";
//@ts-ignore
import { localizePath } from "astro-i18next";

---

<footer>
    <div class="about">
        <NavComponent link={localizePath("/about#")} content={t("about")} />
    </div>
    <nav>
        <NavComponent
            target="_blank"
            link="https://www.linkedin.com/in/pau-sol%C3%A9-torralba-bb8b14176/"
            content="LINKEDIN"
        />
        <NavComponent
            target="_blank"
            link="https://github.com/PauSolT"
            content="GITHUB"
        />
        <NavComponent
            target="_blank"
            link="https://pausol.itch.io"
            content="ITCH.IO"
        />
    </nav>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #1f2833;
        color: #c5c6c7;
        align-items: center;
        height: 6vh;
    }

    .about {
        width: 100px;
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 5%;
        gap: 5%;
        align-items: flex-start;
    }

    @media only screen and (max-width: 760px) {
        nav {
            margin-right: 15%;
        }
    }
</style>
