---
import NavComponent from "./NavComponent.astro";
---

<footer>
    <div class="about">
        <NavComponent link="/about" content="ABOUT"/>
    </div>
    <nav id="socials">
        <NavComponent target="_blank" link="https://github.com/PauSolT" content="GITHUB"/>
        <NavComponent target="_blank" link="https://pausol.itch.io" content="ITCH.IO"/>
        <NavComponent target="_blank" link="https://www.linkedin.com/in/pau-sol%C3%A9-torralba-bb8b14176/" content="LINKEDIN"/>
    </nav>
</footer>
