<header>
    <div id="language">
        <p class="headerElement">CAT</p>
        <p class="headerElement">ESP</p>
        <p class="headerElement">ENG</p>
    </div>
    <div id="space"></div>
    <nav>
        <a class="headerElement" href="/">HOME</a>
        <a class="headerElement" href="/games">GAMES</a>
        <a class="headerElement" href="/about">ABOUT</a>
        <a class="headerElement" href="/about">CONTACT ME</a>
    </nav>
</header>

<style>
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2vw;
        background-color: #1F2833;
        color: #C5C6C7;
        position: sticky;
        top: 0;
    }
    #language {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-grow: 1;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        flex-grow: 2;
        align-items: flex-end;
    }

    nav > a {
        color: inherit;
        text-decoration: none;
    }

    #space {
        display: flex;
        flex-grow: 7;
    }

</style>