<header>
    <div id="language">
        <p>CAT</p>
        <p>ESP</p>
        <p>ENG</p>
    </div>
    <div id="space"></div>
    <nav>
        <a href="/">Home</a>
        <a href="/Games">Games</a>
        <a href="/About">About</a>
        <a href="/About">Contact me</a>
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #language {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-grow: 1;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        flex-grow: 2;
        align-items: flex-end;
    }
    #space {
        display: flex;
        flex-grow: 7;
    }

</style>