<header>
    <div id="language">
        <p>CAT</p>
        <p>ESP</p>
        <p>ENG</p>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/Games">Games</a>
        <a href="/About">About</a>
    </nav>
</header>

<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    

</style>