---
import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";
import SlimeDefenseImage from "../../../src/assets/Images/SlimeDefense.webp";
import BekkusImage from "../../../src/assets/Images/bekkus.webp";
import BiluxImage from "../../../src/assets/Images/bilux.webp";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout>
    <div class="index">
        <div class="introduction">
            <h1>PAU SOLÉ</h1>
            <h2>GAME AND WEB DEVELOPER</h2>
            <h3>
                {t("homeDescription")}
            </h3>
        </div>
        <div class="projectList">
            <h2>{t("projectsTitle")}</h2>
            <Project
                title="1. BEKKUS"
                genre={t("bekkusGenre")}
                srcImage={BekkusImage}
                loadImageType="eager"
                description={t("bekkusDescription")}
            />
            <Project
                title="2. BILUX"
                genre={t("biluxGenre")}
                srcImage={BiluxImage}
                loadImageType="lazy"
                description={t("biluxDescription")}
            />
            <Project
                title="3. SLIME DEFENSE"
                genre={t("slimeGenre")}
                srcImage={SlimeDefenseImage}
                loadImageType="lazy"
                description={t("slimeDescription")}
            />
        </div>
    </div>
</Layout>

<style>
    .index {
        max-width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1,
    h2 {
        color: #66FCF1;
    }

    h3 {
        color: #45A29E;
    }

</style>
